fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9

# OpenAI SDK och ChatKit
openai>=1.55.3
openai-chatkit>=1.0.2

# OpenAI Agents SDK (modulen heter "agents")
openai-agents>=0.2.0

# Typsupport
pydantic>=2.7.4

#supabase
supabase>=2.4.0
httpx>=0.27.2
